// $primaryColor = #c41d47
// $secondaryColor = #308013
// $accentColor = #2d3748
// $textColor = #161b3d
// $bgTagColor = #f4f4f4
// $bgFooter = #343a40
$headingFont = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$readingSize = 5px
$readingProgressColor = theme('colors.primary')
$readingBgColor = rgb(52, 58, 64)
$hrLine = #8f98a1