$headings = 'h1, h2, h3, h4, h5, h6'
$blocks = 'p, ul, ol, blockquote'

body
    // font-family: 'Noto Sans'
    font-family: $headingFont

.text-primary
    color: $primaryColor

.text-secondary
    color: $secondaryColor

.text-color
    color: $textColor

.bg-tag
    background-color: $bgTagColor

{$headings}
    font-family: $headingFont
    color: $textColor

h1
    font-size: 54px
    line-height: 1.2
    padding-top: 20px
    font-weight: 700

p
    color: $textColor